<ion-view view-title="HP Tracker - Allies">
  <ion-header-bar align-title="center" class="bar-balanced">
    <div class="buttons">
      <button class="button button-icon icon ion-plus-round" ng-click="trackerVm.addAlly()"></button>
    </div>
    <h1 class="title">HP Tracker - Allies</h1>
  </ion-header-bar>

  <ion-content>
    <div class="row wrap">
      <div class="col col-20" ng-repeat="ally in trackerVm.allies">
        <div class="card">
          <ion-list>
            <ion-item class="item item-icon-left">
              <input type="text" ng-model="ally.name">
              <i class="icon ion-pricetag"></i>
            </ion-item>
            <ion-item class="item item-icon-left">
              <i class="icon ion-android-favorite"></i>
              {{ ally.hp }}
            </ion-item>
            <ion-item class="item item-icon-left">
              <i class="icon ion-help"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
